<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Websocket</title>
  </head>
  <body>
    <form name="publish">
      <input type="text" name="message" maxlength="50" />

      <input type="submit" value="Send" />
    </form>

    <div id="messages"></div>

    <script>
      const socket = new WebSocket("ws://localhost:8080");

      // Send message from the form
      document.forms.publish.onsubmit = (e) => {
        e.preventDefault();
        let outgoingMessage = document.getElementsByName("message")[0].value;

        console.log(outgoingMessage);

        socket.send(outgoingMessage);
        return false;
      };

      // Handle incoming messages
      socket.onmessage = (e) => {
        let incomingMessgae = e.data;
        console.log(incomingMessgae);
        showMessage(incomingMessgae);
      };

      socket.onclose = (e) => console.log(`Socket closing ${e.code}`);

      const showMessage = (message) => {
        let messageElem = document.createElement("div");
        messageElem.textContent = message;
        document.getElementById("messages").prepend(messageElem);
      };
    </script>
  </body>
</html>
